[package]
name = "druid-shell"
version = "0.6.0"
license = "Apache-2.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Platform abstracting application shell used for druid toolkit."
repository = "https://github.com/xi-editor/druid"
readme = "README.md"
categories = ["os::macos-apis", "os::windows-apis", "gui"]
edition = "2018"

[features]
use_gtk = ["gtk", "gtk-sys", "gio", "gdk", "gdk-sys", "glib", "glib-sys", "cairo-rs"]
x11 = ["xcb", "cairo-sys-rs"]

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[dependencies]
piet-common = "0.0.12"
log = "0.4.8"
lazy_static = "1.0"
time = "0.2.7"
cfg-if = "0.1.10"
# NOTE: if changing, ensure version is compatible with the version in piet
kurbo = "0.5.11"
# NOTE: This defaults to mimicking std::time on non-wasm targets
instant = { version = "0.1", features = [ "wasm-bindgen" ] }

cairo-rs = {  version = "0.8.1", default_features = false, optional = true }
cairo-sys-rs = { version = "0.9.2", default_features = false, optional = true }
gio = { version = "0.8.1", optional = true }
gdk = { version = "0.12.1", optional = true }
gdk-sys = { version = "0.9.0", optional = true }
gtk = { version = "0.8.1", optional = true }
glib = { version = "0.9.3", optional = true }
glib-sys = { version = "0.9.0", optional = true }
gtk-sys = { version = "0.9.0", optional = true }
xcb = { version = "0.9.0", features = ["thread", "xlib_xcb", "randr"], optional = true }

[target.'cfg(target_os="windows")'.dependencies]
wio = "0.2"

[target.'cfg(target_os="windows")'.dependencies.winapi]
version = "0.3.6"
features = ["d2d1_1", "dwrite", "winbase", "libloaderapi", "errhandlingapi", "winuser", "shellscalingapi", "shobjidl", "combaseapi", "synchapi", "dxgi1_3", "dcomp", "d3d11", "dwmapi", "wincon", "fileapi", "processenv", "winbase", "handleapi"]

[target.'cfg(target_os="macos")'.dependencies]
cocoa = "0.20.0"
objc = "0.2.5"
cairo-rs = { version = "0.8.1", default_features = false }

# TODO(x11/dependencies): only use feature "xcb" if using XCB
[target.'cfg(target_os="linux")'.dependencies]
cairo-rs = {  version = "0.8.1", default_features = false, features = ["xcb"] }
gio = "0.8.1"
gdk = "0.12.1"
gdk-sys = "0.9.0"
glib = "0.9.3"
glib-sys = "0.9.0"
gtk-sys = "0.9.0"

[target.'cfg(target_os="linux")'.dependencies.gtk]
version = "0.8.1"
features = ["v3_20"]

[target.'cfg(target_arch="wasm32")'.dependencies]
wasm-bindgen = "0.2.59"
js-sys = "0.3.36"
web-sys = { version = "0.3.36", features = ["Window", "MouseEvent", "CssStyleDeclaration"] }
console_log = { version = "0.1.2", optional = true }
