[package]
name = "druid"
version = "0.5.0"
license = "Apache-2.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Data-oriented Rust UI design toolkit."
repository = "https://github.com/xi-editor/druid"
categories = ["gui"]
readme = "README.md"
keywords = ["gui", "ui", "toolkit"]
edition = "2018"

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[features]
use_gtk = ["druid-shell/use_gtk"]
svg = ["usvg"]

[badges]
travis-ci = { repository = "xi-editor/druid" }

[dependencies]
fluent-bundle = "0.9.1"
fluent-langneg = "0.11.1"
fluent-syntax = "0.9.1"
unic-langid = "0.7.1"
unicode-segmentation = "1.6.0"
log = "0.4.8"
usvg = {version = "0.9.0", optional = true}
fnv = "1.0.3"
xi-unicode = "0.2.0"
image = {version = "0.22.4", optional = true}

[dependencies.simple_logger]
version = "1.3.0"
default-features = false

[dependencies.druid-shell]
path = "../druid-shell"
version = "0.5.0"

[dependencies.druid-derive]
path = "../druid-derive"
version = "0.2.0"
