[package]
name = "druid"
version = "0.6.0"
license = "Apache-2.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Data-oriented Rust UI design toolkit."
repository = "https://github.com/xi-editor/druid"
categories = ["gui"]
readme = "README.md"
keywords = ["gui", "ui", "toolkit"]
edition = "2018"

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[features]
x11 = ["druid-shell/x11"]
svg = ["usvg"]

[badges]
travis-ci = { repository = "xi-editor/druid" }

[dependencies]
fluent-bundle = "0.11.0"
fluent-langneg = "0.12.1"
fluent-syntax = "0.9.1"
unic-langid = "0.8.0"
unicode-segmentation = "1.6.0"
log = "0.4.8"
usvg = {version = "0.9.0", optional = true}
fnv = "1.0.3"
xi-unicode = "0.2.0"
image = {version = "0.23.2", optional = true}
instant = { version = "0.1", features = [ "wasm-bindgen" ] }

[dependencies.simple_logger]
version = "1.6.0"
default-features = false

[dependencies.druid-shell]
path = "../druid-shell"
version = "0.6.0"

[dependencies.druid-derive]
path = "../druid-derive"
version = "0.4.0"

[target.'cfg(target_arch="wasm32")'.dependencies]
console_log = "0.1.2"

[dev-dependencies]
float-cmp = { version = "0.6.0", default-features = false }
