[package]
name = "druid"
version = "0.6.0"
license = "Apache-2.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Data-oriented Rust UI design toolkit."
repository = "https://github.com/xi-editor/druid"
categories = ["gui"]
readme = "README.md"
keywords = ["gui", "ui", "toolkit"]
edition = "2018"

[package.metadata.docs.rs]
# The "svg" and "image" features have doc clashes that cause undefined output in docs.
# See https://github.com/rust-lang/cargo/issues/6313 for more information.
# Once cargo doc becomes smart enough to handle multiple versions of the same crate,
# the "svg" and "image" features should be enabled for the docs.rs output.
features = ["im"]
default-target = "x86_64-pc-windows-msvc"

[features]
x11 = ["druid-shell/x11"]
svg = ["usvg"]

[dependencies]
druid-shell = { version = "0.6.0", path = "../druid-shell" }
druid-derive = { version = "0.4.0", path = "../druid-derive" }

log = "0.4.8"
simple_logger = { version = "1.6.0", default-features = false }
fluent-bundle = "0.11.0"
fluent-langneg = "0.12.1"
fluent-syntax = "0.9.1"
unic-langid = "0.8.0"
unicode-segmentation = "1.6.0"
xi-unicode = "0.2.0"
fnv = "1.0.3"
instant = { version = "0.1", features = ["wasm-bindgen"] }

# Optional dependencies
im = { version = "15.0", optional = true }
usvg = { version = "0.9.0", optional = true }
image = { version = "0.23.2", optional = true }

[target.'cfg(target_arch="wasm32")'.dependencies]
console_log = "0.1.2"

[dev-dependencies]
float-cmp = { version = "0.6.0", default-features = false }
tempfile = "3.1.0"
piet-common = { version = "0.1.0", features = ["png"] }
