[package]
name = "druid"
version = "0.6.0"
license = "Apache-2.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
description = "Data-oriented Rust UI design toolkit."
repository = "https://github.com/linebender/druid"
categories = ["gui"]
readme = "README.md"
keywords = ["gui", "ui", "toolkit"]
edition = "2018"

[package.metadata.docs.rs]
# The "svg" and "image" features have doc clashes that cause undefined output in docs.
# See https://github.com/rust-lang/cargo/issues/6313 for more information.
# Once cargo doc becomes smart enough to handle multiple versions of the same crate,
# the "svg" and "image" features should be enabled for the docs.rs output.
features = ["im"]
rustdoc-args = ["--cfg", "docsrs"]
default-target = "x86_64-pc-windows-msvc"

[features]
default = ["gtk"]
gtk = ["druid-shell/gtk"]
image = ["druid-shell/image"]
svg = ["usvg", "harfbuzz-sys"]
x11 = ["druid-shell/x11"]

[dependencies]
druid-shell = { version = "0.6.0", default-features = false, path = "../druid-shell" }
druid-derive = { version = "0.3.1", path = "../druid-derive" }

log = "0.4.11"
simple_logger = { version = "1.9.0", default-features = false }
fluent-bundle = "0.12.0"
fluent-langneg = "0.13.0"
fluent-syntax = "0.9.3"
unic-langid = "0.9.0"
unicode-segmentation = "1.6.0"
xi-unicode = "0.2.1"
fnv = "1.0.7"
instant = { version = "0.1.6", features = ["wasm-bindgen"] }

# Optional dependencies
im = { version = "15.0.0", optional = true }
usvg = { version = "0.11.0", optional = true }
# We don't depend directly on harfbuzz-sys, it comes through usvg. But we need to pin
# the version, because the latest release of harfbuzz_rs is broken with harfbuzz-sys 0.5.
harfbuzz-sys = { version = "0.5.0", optional = true }

[target.'cfg(target_arch="wasm32")'.dependencies]
console_log = "0.2.0"

[dev-dependencies]
float-cmp = { version = "0.8.0", features = ["std"], default-features = false }
tempfile = "3.1.0"
piet-common = { version = "0.2.0-pre5", features = ["png"] }

[[example]]
name = "cursor"
required-features = ["image"]

[[example]]
name = "image"
required-features = ["image"]

[[example]]
name = "invalidation"
required-features = ["im"]

[[example]]
name = "list"
required-features = ["im"]

[[example]]
name = "svg"
required-features = ["svg"]

[[example]]
name = "tabs"
required-features = ["im"]

[[example]]
name = "widget_gallery"
required-features = ["svg", "im", "image"]
