on:
  issue_comment:
    types: [created, edited]
name: bloat check

jobs:
  bloat_check:
    runs-on: macOS-latest
    name: post binary size change info
    # if it isn't an issue comment run every time, otherwise only run if the comment starts with '/bloat'
    if: (!startsWith(github.event_name, 'issue_comment') || startsWith(github.event.comment.body, '/bloat'))
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: get revisions
        id: get_revs
        uses: cmyr/bloat-cmp/get-revs@v2
        with:
          command: /bloat
          myToken: ${{ secrets.GITHUB_TOKEN }}

      - name: fetch refs
        run: git fetch origin ${{ steps.get_revs.outputs.fetch }}
        if: steps.get_revs.outputs.fetch != ''

      - name: checkout base
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.get_revs.outputs.base }}

      - name: setup stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: build base
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --examples

      - name: get old sizes
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        id: old
        uses: cmyr/bloat-cmp/get-sizes@v2
        with:
          paths: >
            target/release/examples/calc
            target/release/examples/scroll_colors
            target/release/examples/multiwin
            target/release/examples/textbox
            target/release/examples/custom_widget

      - name: checkout head
        uses: actions/checkout@v2
        with:
          clean: false # avoid rebuilding artifacts unnecessarily
          ref: ${{ steps.get_revs.outputs.head }}

      - name: build head
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --examples

      - name: get new sizes
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        id: new
        uses: cmyr/bloat-cmp/get-sizes@v2
        with:
          paths: >
            target/release/examples/calc
            target/release/examples/scroll_colors
            target/release/examples/multiwin
            target/release/examples/textbox
            target/release/examples/custom_widget

      - name: compare
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        id: bloatcmp
        uses: cmyr/bloat-cmp/compare@v2
        with:
            old: ${{ steps.old.outputs.rawSizes }}
            new: ${{ steps.new.outputs.rawSizes }}

      - name: comment
        if: steps.get_revs.outputs.base != steps.get_revs.outputs.head
        uses: cmyr/bloat-cmp/post-comment@v2
        with:
          stats: ${{ steps.bloatcmp.outputs.stats }}
          myToken: ${{ secrets.GITHUB_TOKEN }}
